:root {
  --primary-color: #ada7ac;
  --secondary-color: #837f7a;
  --font-stack: 'Arial', sans-serif;
}

body {
    margin: 0;
    background: linear-gradient(to right, #eeaa8f, #9bb2c4);
    text-align: center;
}